body{
			background-color: #EAF6F6;
		}
		h1{
			color: #66BFBF;
		}
		h3{
			color: #66BFBF;
		}
		hr{
			border-style: none;
			border-top-style: dotted;
			border-color: grey;
			border-width: 5px;
			width: 5%;
			margin-bottom: 35px;
		}
		th{
			color:  #f3aa21fd;
			background-color: #c9e5e6fd;
		}
		a{
			text-decoration: none;
			border: 1px solid rgb(68, 54, 196);
			border-radius: 5px;
			padding: 5px 7px;
			background-color: rgb(169, 218, 211);
		}
		a:hover{
			color: #EAF6F6;
			background-color: rgb(106, 106, 182);
		}